EXPO_PUBLIC_API_URL=http://SEU_IP_LOCAL:3333
EXPO_PUBLIC_SENTRY_DSN=
EXPO_PUBLIC_SENTRY_TRACES_SAMPLE_RATE=0.2
EXPO_PUBLIC_APP_ENV=development

# Sentry build plugin and sourcemap upload (set in .env.local or EAS env)
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_URL=https://sentry.io/
SENTRY_AUTH_TOKEN=
